body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.visualization {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 45%;
}

h2 {
    text-align: center;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0; /* Initial opacity */
}
